* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2D1E6B;
    font-family: "inter", "sans-serif";
    box-sizing: border-box;
}

header {

}

/* Navbar Section */
#navbar {
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-container img {
    width: 25px;
    height: 22px;
}

#nav-items {
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}

#nav-items li {
    cursor: pointer;
}

/* Main Section (Hero Section) */

#main-header {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    position: relative;
}

#main-header .left {
    position: absolute;
    width: 40%;
    top: 100px;
    left: 10%;
    height: 100%;
    color: #fff;
}

#main-header .left .big-text {
    font-size: 70px;
    color: #fff;
    font-weight: 900;
}

#main-header .left #overview {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 15px;
}

#main-header .left #overview .overview-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header .left #overview .overview-items h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#main-header .left #overview .overview-items p {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.gradient-text {
    color: #ff00f2;
}

#main-header .right {
    width: 100%;
    height: 100%;
    z-index: -10;
    mix-blend-mode: color-dodge;
}

#main-header .right img {
    width: 100%;
    height: 105vh;
    margin-top: -11vh;
}

.buttons {
    display: flex;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    transform: skewX(-20deg);
    cursor: pointer;
    border: 1px solid #7d63f1;
    background-color: transparent;
    color: #fff;
}

.btn1 {
    background: #2d1e6b;
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
}

.band {
    width: 100;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 100px;
    color: #fff;
    transform: rotate(-3deg);
    border: 1px solid #ffffff40;
    font-size: 30px;
    font-weight: 900;
    background: #ffffff40;
    box-shadow: 0 80px 32px 0 #1f26875e;
    backdrop-filter: blur(4px);
}

.band img {
    width: 25px;
    height: 25px;

}

/* Choose section */

.choose-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.choose-section-title {
    font-size: 40px;
    font-weight: 900;
}

.section-description {
    width: 500px;
    font-size: 18px;
    font-weight: 100;
}

.choose-section .image-carousel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.image-carousel img{
    width: 400px;
    height: 250px;
}

.image-carousel .center-img {
    width: 600px;
    height: 400px;
}